<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../styles/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Administrador</title>
</head>
<body style="background-color: #4ed7db;">
    <header class="site-header">
        <div id="desk">
            <div class="site-identity"></div>
            <nav>
              <br>
                <ul>
                    
                    <li><button class="button" onclick="window.location.href='matriculas.php'">Alumnos</button></li>
                    <li><button class="button" onclick="window.location.href='profesores.php'">profesores</button></li>
                    <li><button class="button" onclick="window.location.href='grupos.php'">grupos</button></li>
                    <li><button class="button" onclick="window.location.href='materias.php'">materias</button></li>
                    <li><button class="button" onclick="window.location.href='asignaciones.php'">Asignaciones</button></li>
                    <li><button class="button" onclick="window.location.href='huellas.php'">chequeos</button></li>
                    <li><button class="button" onclick="window.location.href='nuevo_admin.html'">Registrar Administrador</button></li>
                    <li><button class="button" onclick="window.location.href='logout.php'">Salir</button></li>
                    <li><button class="button" onclick="window.location.href='http://127.0.0.1:5000/'">visitantes</button></li>
                </ul>
            </nav>
        </div>
  <br>  
  <br>
    </header>
    <h2 style="color: white;">Bienvenido Administrador</h2>
    <div class="content" style="color: white;" >
        <p style="font-size: 20px;">En esta página podrás acceder y observar cada información relevante sobre el registro y progreso académico de todos los estudiantes, horarios de clases, eventos escolares, pagos, calificaciones, etc.</p>
        <p style="font-size: 20px;">Utiliza la barra de navegación para acceder y corregir cualquier cosa en las diferentes secciones del sistema.</p>
    </div>
</body>
</html>
