<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../styles/admin.css">
    <title>profesor</title>
</head>

<body>
    <header class="site-header">

        <nav>
            <ul>
                <li><button class="button" onclick="window.location.href='perfil.php'">Perfil</button></li>
                <li><button class="button" onclick="window.location.href='matriculas.php'">asistencias</button></li>
                <li><button class="button" onclick="window.location.href='matriculas.php'">Alumnos</button></li>
                <li><button class="button" onclick="window.location.href='../comentarios.html'">comentarios</button></li>
                <li><button class="button" onclick="window.location.href='../profesor_comentarios.php'">respuestas</button></li>
                <li><button class="button" onclick="window.location.href='logout.php'">Salir</button></li>
                
            </ul>
        </nav>
    </header>
    <div class="content" style="color: white;">
        <h1>Bienvenido, profesor todo un gusto</h1>
    </div>
</body>

</html>
